.crd1{
    width: 350px;
    border-radius: 4px;
    
}
.background1
{
    margin:40px 40px;
    
    
    background-color: darkgray;
    height: 330px;
    width: 300px;
    border-radius: 40px 40px 40px 40px;
}
.title1{
    padding:40px;
    color:white;
    font-size:33px;
    font-weight: 300;
}
.discription1{
    padding:10px 20px ;
    font-size:23px;
    color:white;
    font-weight:200;
    line-height:30px;
    
}
.lineincard1
{
    background-color: rgb(71, 71, 71);
    width: 220px;
    height: 3px;
    border-radius: 40px 40px 40px 40px;
    margin:-10px 40px -5px;
    
}