@font-face {
    font-family: "20011"; 
    src: url("../fonts/20011.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}

.mainPage{
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 1080px;
}

.filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    background-color: white;
}

.filter{
    font-family: '20011';
    padding: 4%;
    margin: 2%;
    font-size: 36px;
}

.filter:hover{
    cursor: pointer;
    width: 300px;
    text-align: center;
    background-color: rgb(169, 168, 168);
    border-radius: 100px;
}

.applic{
    margin-top: 3%;
}

.grey-rect{
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #B8B8B8;
    border-radius: 100px;
}

.black-rect{
    
}